      
.home-logo-div{
    /* border: 1px solid red; */
    width: 130px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10rem;
    
}
.home-logo-div >img{
    height: 50px;
    width: 130px;
    object-fit: contain;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
   
}
li{
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
}
input{
    width: 60%;
    height: 35px;
    border-radius: 25px;
    background-color: rgb(255,253,237);

}
img{
    width: 100%;
}
.invite-friends, .below-brand-spotlight{
    display: flex;
}
.slickSlide{
    width: 80%;
    border: 1px solid red;
}
input[type="range"] {
    -webkit-appearance: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 5px;
    width: 15%;
    border-radius: 0%;
    background: #000;
    margin-top: -4px;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
  .carousel-container-with-scrollbar {
    padding-left: 100px;
    padding-bottom: 20px;
    overflow: visible !important;
  }
  .custom-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    border: 2px solid red;
  }
  .custom-slider__input {
    width: 100%;
  }
  .slider-image-item {
    padding: 20px 0 20px 20px;
  }
  .sliderComing{   
   width: 99%;
   height: 300px;
   position: relative;
  }
 .slideImage{
    /* border: 2px solid red; */
    width:200px;
    height: 500px;   
 }
.sliderButton{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
   z-index: 1;
    position: absolute;
    top: 65%;
    margin-left: 10px;
}